@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: none;
  font-family: "Work Sans", sans-serif;
  margin: 0px;
}

body {
  background-color: #f2f2f2;
}
